<div ng-include="'/app/layouts/navbar/admin/navbar.html'"></div>
</br></br>
<div class="container">
	<div class="row">
		<div class="col-md-8 user-details">
            <div class="user-image">
                <img src="/img/avatar.png" class="img-circle">
                <span class="glyphicon glyphicon-heart" ng-show="vm.student.status"></span>
                <span class="glyphicon glyphicon-heart-empty" ng-hide="vm.student.status"></span>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{vm.student.ime}} {{vm.student.prezime}}</h3>
                    <span class="help-block"> {{vm.student.indeks}} </span>
                </div>
                <div class="user-body">
                    <div class="tab-content col-md-6">
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                        </div>
                        <ul class="navigation">
                            <li class="active">
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-user"> {{vm.student.korisnickoIme}} </span>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-equalizer"> {{vm.student.sifraKorisnika}} </span>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-envelope"> {{vm.student.email}} </span>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-phone"> {{vm.student.telefonKorisnika}} </span>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-registration-mark"> {{vm.student.registrovan_temp}} </span>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="tab">
                                    <span class="glyphicon glyphicon-tasks"> {{vm.student.napomena}} </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content col-md-6" ng-show="vm.student.kurs">
                        <div id="course_information" class="tab-pane active">
                            <h4>Course</h4>
                        </div>
                        <div data-toggle="tab">
                            <span class="glyphicon glyphicon-tasks"> {{vm.student.kurs.tipKursa.jezik.naziv}} {{vm.student.kurs.nivo.nazivNivoa}}</span>
                        </div>
                        <div data-toggle="tab">
                            <span class="glyphicon glyphicon-euro"> {{vm.student.kurs.tipKursa.cena}}</span>
                        </div>
                        <div data-toggle="tab">
                            <span class="glyphicon glyphicon-euro"> {{vm.student.kurs.nastavnik.ime}} {{vm.student.kurs.nastavnik.prezime}}</span>
                        </div>
                    </div>
                    <div class="tab-content col-md-6" ng-hide="vm.student.kurs">
                        <h2>The course is not assigned</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 user-edit">
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="vm.student.registrovan_temp = !vm.student.registrovan_temp" ng-hide="vm.student.registrovan_temp">Regiser user</button>
                <button type="button" class="btn btn-default" ng-click="vm.student.registrovan_temp = !vm.student.registrovan_temp; vm.cancelClicked = true;" ng-show="vm.student.registrovan_temp" ng-if="!vm.student.registrovan">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="vm.student.status = !vm.student.status" ng-hide="vm.student.status">Activate user</button>
                <button type="button" class="btn btn-success" ng-click="vm.student.status = !vm.student.status" ng-show="vm.student.status">Deactivate user</button>
                <button type="button" class="btn btn-info" ng-click="vm.confirmChanges()">Confirm changes</button>
                <button
                    class="btn btn-danger"
                    mwl-confirm
                    title="Delete this user"
                    message="Are you sure?"
                    confirm-text="Of course"
                    cancel-text="Nooooooo"
                    placement="bottom"
                    on-confirm="vm.delete()"
                    on-cancel="vm.cancelClicked = true"
                    confirm-button-type="danger"
                    cancel-button-type="info">
                    Delete user
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" ng-click="vm.open()" ng-hide="vm.student.kurs">Assign course</button>
            </div>
        </div>
	</div>
    <div ng-show = vm.error.show>
        {{vm.error.message}}
    </div>
    <div class="alert alert-info" ng-show="vm.cancelClicked">You cancelled!</div>
</div>
<script type="text/ng-template" id="assign_course-dialg.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Please, assign the course to the student!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div>Active courses
                <select required class="form-control" ng-model = "vm.activeCourse">
                    <option ng-option value={{course}} ng-repeat="course in vm.allCourses">{{course.tipKursa.jezik.naziv}} - {{course.tipKursa.nivo.nazivNivoa}} : {{course.nastavnik.ime}} {{course.nastavnik.prezime}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer"><button class="btn btn-primary" type="button" ng-click="vm.addToCourse(vm.activeCourse)">Add student</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
            Having multiple modals open at once is probably bad UX but it's technically possible.
        </div>
</script>