
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/professor/{{user.name}}/home">Home</a></li>
                            <li><a href="#/professor/{{user.name}}/courses">Course view</a></li>
                            <li><a href="#/professor/students">All my students</a></li>
                            <li><a href="#/professor/tests">Homework assignments</a></li>
                            <li><a href="#/professor/payments">Financial reports</a></li>
                            <li><a href="#/professor/finished_courses">Finished courses</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>