// nav bar Main
@mixin mainNav {
    .mainNav {
        display: inline;
        ul {
            display: flex;
            margin-right: 4%;
            li {
                margin: 0 auto;
                text-transform: uppercase;
                font-weight: bold;
                list-style-type: none;
                a {
                    text-decoration: none;
                    font-size: 1.3em;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

@mixin mainDiv {
    font-family: 'Libre Franklin', sans-serif;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin opacytyHomeDiv {
    background-image: linear-gradient(to bottom right, rgba(211, 14, 14, 0.2) 0%, rgba(70, 65, 65, 2) 100%);
    height: 89vh;
    margin: 35px;
    -moz-box-shadow: inset 0 0 70px #000000;
    -webkit-box-shadow: inset 0 0 70px #000000;
    box-shadow: inset 0 0 70px #000000;
}

@mixin button {
    .buttonLogIn {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 31px;
        font-size: 2em;
        list-style-type: none;
        .ButtonBorder {
            border: 2.5px solid rgba(0, 0, 0, 0.3);
            background-color: rgba(95, 8, 8, .8);
            width: 70%;
            margin: 0 auto;
        }
        a {
            font-size: 1.5em;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-text-stroke: 0.5px black;
            color: rgb(255, 255, 255);
            text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    }
}