// nav bar Main
@mixin mainNav {
    .mainNav {
        display: inline;
        ul {
            display: flex;
            margin-right: 4%;
            li {
                margin: 0 auto;
                text-transform: uppercase;
                font-weight: bold;
                list-style-type: none;
                a {
                    text-decoration: none;
                    font-size: 1.3em;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

// backround for background img
@mixin mainDiv {
    font-family: 'Libre Franklin', sans-serif;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Opacyty background
@mixin opacytyHomeDiv {
    background-image: linear-gradient(to bottom right, rgba(138, 229, 139, 0.3) 0%, #76dd60 100%);
    height: 89vh;
    margin: 35px;
    -moz-box-shadow: inset 0 0 70px #000000;
    -webkit-box-shadow: inset 0 0 70px #000000;
    box-shadow: inset 0 0 70px #000000;
}

// button in login.html
@mixin button {
    .buttons {
        padding-top: 15%;
        .buttonLogIn {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            padding: 2%;
            font-size: 2em;
            list-style-type: none;
            .ButtonBorder {
                border: 2.5px solid rgba(0, 0, 0, 0.3);
                background-color: rgba(17, 95, 8, 0.8);
                width: 70%;
                margin: 0 auto;
            }
            a {
                font-size: 1.5em;
                text-decoration: none;
                text-transform: uppercase;
                -webkit-text-stroke: 0.5px black;
                color: rgb(255, 255, 255);
                text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
    }
}