@import 'mixins';
.aboutUsDiv {
    background: url("/assets/img/2.jpg") center center;
    @include mainDiv;
    .opacityDiv {
        @include opacytyHomeDiv;
        p {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            margin: 0 auto;
            margin-top: 14%;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

@media screen and(max-width:640px) {
    .aboutUsDiv {
        .opacityDiv {
            p {
                font-size: 1em;
                display: block;
                width: 69%;
            }
        }
    }
}