@import 'mixins';
.FirstLogedIn {
    padding-top: 9%;
    @include mainNav;
}

.buttonLogIn {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 31px;
    font-size: 2em;
    list-style-type: none;
    .ButtonBorder {
        border: 2.5px solid rgba(0, 0, 0, 0.3);
        background-color: rgb(184, 204, 179);
        width: 70%;
        margin: 0 auto;
    }
    a {
        font-size: 1.5em;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 0.5px black;
        color: rgb(255, 255, 255);
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}