@import 'mixins';
.FirstLogedIn {
    padding-top: 9%;
    width: 100%;
    @include mainNav;
}

.homeDiv {
    background: url("/assets/img/1.jpg") center center;
    @include mainDiv;
}

.opacityDiv {
    @include opacytyHomeDiv;
}

@include button;
@media screen and(max-width:640px) {
    .homeDiv {
        background: none;
        background-color: rgb(255, 255, 255);
        .FirstLogedIn {
            padding-top: 10%;
            .mainNav {
                ul {
                    display: block;
                    li {
                        padding-top: 10%;
                        a {
                            font-size: 2em;
                            &:hover {
                                color: rgb(0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}