            @import "mixins";
            .loginDiv {
                background-color: rgb(253, 250, 250);
            }
            
            .opacityDiv {
                // background: url("/assets/img/1.jpg") center center;
                @include opacytyHomeDiv;
            }
            
            .backButton {
                position: relative;
                left: 6%;
                top: 4%;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 2em;
                    text-transform: uppercase;
                    &:hover {
                        color: rgb(0, 0, 0);
                    }
                }
            }
            
            .log {
                float: right;
                margin-right: 22%;
                width: 35%;
                ul {
                    list-style-type: none;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    margin-top: 10%;
                    li {
                        text-decoration: none;
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            color: rgb(255, 255, 255);
                        }
                        &:nth-child(3) {
                            padding-top: 20%;
                            a {
                                font-size: 1.5em;
                            }
                        }
                    }
                    div {
                        padding-bottom: 10%;
                        font-size: 1em;
                        display: flex;
                        flex-direction: column;
                        label {}
                        input {
                            list-style-type: none;
                            padding-bottom: 5%;
                            border-radius: 10px;
                            text-align: center;
                            font-size: 1.5em;
                            margin-top: 5%;
                            outline: none;
                            &:hover {
                                background: rgba(0, 0, 0, .2);
                                border: 1px solid rgb(246, 221, 188);
                                color: rgb(246, 221, 188);
                            }
                            &::placeholder {
                                color: rgb(246, 221, 188);
                                position: relative;
                                top: 10px;
                            }
                        }
                    }
                    form {
                        div {}
                        button {
                            padding: 5%;
                            padding-bottom: 2%;
                            border-radius: 10px;
                            background: rgb(255, 255, 255);
                            font-size: 1em;
                            outline: none;
                            &:hover {
                                background: rgba(0, 0, 0, .2);
                                border: 1px solid rgb(246, 221, 188);
                            }
                        }
                    }
                }
            }
            
            .divPreLogin {
                width: 23.5%;
                margin-top: 10%;
                margin-left: 6%;
                p {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
            
            @media screen and(max-width:640px) {
                .log {
                    width: 100%;
                    margin: 0 auto;
                    float: none;
                    margin-left: -8%;
                    li {
                        a {
                            &:nth-child(3) {
                                padding-top: 10%;
                            }
                        }
                    }
                    div {
                        padding-bottom: 6%;
                        input {
                            margin: 0 auto;
                            &::placeholder {
                                top: 1px;
                            }
                        }
                    }
                    form {
                        button {
                            margin-left: 12%;
                        }
                    }
                }
                .divPreLogin {
                    width: 90%;
                    margin: 0 auto;
                }
                .backButton {
                    a {
                        font-size: 1em;
                    }
                }
                .buttons {
                    margin-top: 15%;
                }
            }