@import "mixins";
.loginDiv {
    background-color: rgba(95, 8, 8, .6);
}

.opacityDiv {
    // background: url("/assets/img/1.jpg") center center;
    @include opacytyHomeDiv;
}

.backButton {
    position: relative;
    left: 6%;
    top: 4%;
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
}

.log {
    float: right;
    margin-right: 22%;
    width: 35%;
    ul {
        list-style-type: none;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        margin-top: 20%;
        li {
            text-decoration: none;
            list-style-type: none;
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
            &:nth-child(3) {
                padding-top: 20%;
                a {
                    font-size: 1.5em;
                }
            }
        }
        div {
            padding-bottom: 10%;
            font-size: 1em;
            display: flex;
            flex-direction: column;
            label {}
            input {
                padding-bottom: 10%;
                border-radius: 10px;
                &::placeholder {
                    font-size: 1.5em;
                    text-align: center;
                    color: rgb(246, 221, 188);
                    position: relative;
                    top: 25px;
                }
            }
        }
        form {
            div {}
            button {
                padding: 5%;
                padding-bottom: 4%;
                border-radius: 10px;
                background: rgb(255, 255, 255);
                font-size: 1em;
            }
        }
    }
}