<ul><li><a href="/">home</a></li></ul>
<div class="alert alert-danger" ng-show="error">
	{{errorMessage}}: {{errorStatus}}
</div>
<form class="form-inline" ng-submit="login()">
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input type="text" required class="form-control-plaintext" id="username" ng-model="credentials.username" placeholder="Username">
  </div>
  <div class="form-group mx-sm-3">
    <label for="password" class="sr-only">Password</label>
    <input type="password" required class="form-control" id="password" ng-model="credentials.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Confirm identity</button>
</form>
<a href="#/signup" class="btn btn-warning">Signup</a>