<div class="loginDiv">
    <p><a href="/">home</a></p>
    <div ng-show="error">
        {{errorMessage}}: {{errorStatus}}
    </div>
    <form ng-submit="login()">
        <div>
            <label for="username">Username</label>
            <input type="text" required id="username" ng-model="credentials.username" placeholder="Username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" required id="password" ng-model="credentials.password" placeholder="Password">
        </div>
        <button type="submit">Confirm identity</button>
    </form>
    <p><a href="#/signup">Signup</a></p>
</div>